# Python Distribution Package Requirements for KISS.
#
# Source:: https://github.com/ampledata/kiss
# Author:: Greg Albrecht W2GMD <gba@onbeep.com>
# Copyright:: Copyright 2013 OnBeep, Inc. and Contributors
# License:: Apache License, Version 2.0


flake8
clonedigger
coverage
mock
nose
pylint
pep8
