# Python Distribution Package Requirements for KISS.
#
# Source:: https://github.com/ampledata/kiss
# Author:: Greg Albrecht W2GMD <oss@undef.net>
# Copyright:: Copyright 2016 Orion Labs, Inc. and Contributors
# License:: Apache License, Version 2.0


flake8
pylint
aprs
twine
